{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Samuel Mulatua Jeremy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="main" class="d-flex justify-content-center flex-column">
        {% include 'navbar.html' %}
    </header>
    <section id="contact" class="contact d-flex flex-column" style="text-align: center;">
        <img src="{% static 'img/pasfoto.png' %}" alt="John" style="width:200px; margin-left: 43%">
        <h1>Samuel Mulatua Jeremy</h1>
        <p class="title">1906308305</p>
        <p>Fakultas Ilmu Komputer Universitas Indonesia - 2019</p>
        <h5>Senang bermusik dan menikmati musik</h5>

        <h3>Riwayat Pendidikan</h3>
        <table>
            <tr>
                <td>No</td>
                <td>Institusi</td>
                <td>Waktu</td>
            </tr>
            <tr>
                <td>1</td>
                <td>SD Cahaya Sakti</td>
                <td>2007-2013</td>
            </tr>
            <tr>
                <td>2</td>
                <td>SMPK 5 BPK Penabur</td>
                <td>2013-2016</td>
            </tr>
            <tr>
                <td>3</td>
                <td>SMA Negeri 8 Jakarta</td>
                <td>2016-2019</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Universitas Indonesia, Fakultas Ilmu Komputer</td>
                <td>2019-sekarang</td>
            </tr>

        </table>

        <a href="https://www.twitter.com/mulatua__"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/samuel-nainggolan-86a1a8138/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/samuelmjn"><i class="fa fa-instagram"></i></a>
    </section>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>